@page
@model QuanLyNhaSach.Pages.Book.ViewModel
@{
	ViewData["Title"] = "Book";
}
@using QuanLyNhaSach.Entities;

<div><a href="/Book/Add">Thêm mới</a></div>
<table>
	<tr>
		<th>Mã sách</th>
		<th>Tên sách</th>
		<th>Thể loại</th>
		<th>Tác giả</th>
		<th>Giá bìa</th>
		<th>Số lượng</th>
		<th>Thao tác</th>
	</tr>
	@foreach (Book item in Model.books)
	{
	<tr>
		<td>@item.Id</td>
		<td>@item.Name</td>
		<td>@item.TypeNavigation.Name</td>
		<td>@item.AuthorNavigation.Name</td>
		<td>@item.Price</td>
		<td>@item.Quantity</td>
		<td><a href="/Book/Update?id=@item.Id">Sửa</a> | <a href="/Book/Delete?id=@item.Id">Xoá</a></td>
	</tr>
	}
</table>